<li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
    <div>
        <span
            class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">{{cardPickRateDto.cardName}}</span>
        <div class="mt-1 text-muted-color">{{cardPickRateDto.pickedCount}}/{{cardPickRateDto.availableCount}}</div>
    </div>
    <div class="mt-2 md:mt-0 flex items-center">
        <div class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24" style="height: 8px">
            <div class="bg-orange-500 h-full" style="width: 50%"></div>
        </div>
        <span class="text-orange-500 ml-4 font-medium">{{cardPickRateDto.pickRate}}</span>
    </div>
</li>
